<div class="large-4 columns">
  <% if current_user %>
    <h2>Logout</h2>
    <%= render :partial => 'form_logout' %>    
  <% else %>
    <h2>Login</h2>
    <%= render :partial => 'form_login' %>
  <% end %>
</div>