ul.breadcrumbs
  li
    | <%= link_to 'Dashboard', account_path %>
  li.current
    | <%= link_to 'Create a new post', new_account_post_path %>
|  <div class="medium-8" columns"> 
h2
  | Create a new post
|  <%= render partial: 'form', locals: { post: @post } %> 
