<ul class="breadcrumbs">
  <li><%= link_to 'Dashboard', account_path %></li>
  <li class="current"><%= link_to 'Create a new post', new_account_post_path %></li>
</ul>

<div class="medium-8" columns">
<h2>Create a new post</h2>

<%= render :partial => 'form', :locals => { :post => @post } %>
</div>
