.alert.alert-success.alert-dismissible role="alert"
  button.close data-dismiss="alert" type="button" 
    span aria-hidden="true"  &times;
  | The category '#{category.name}' was successfully created.
