<ul class="breadcrumbs">
  <li><%= link_to 'Dashboard', account_path %></li>
  <li class="current"><%= link_to 'All categories', account_categories_path %></li>
</ul>

<h2>Create category</h2>

<%= render :partial => 'form', :locals => { :category => current_user.categories.build } %>

<h2>All categories</h2>

<%= render :partial => 'account/category', :collection => @categories %>
