<ul class="breadcrumbs">
  <li><%= link_to 'Dashboard', account_path %></li>
  <li class="current"><%= link_to 'All categories', account_categories_path %></li>
</ul>

<h2>New category</h2>

<div id="new_category">
  <%= link_to new_account_category_path, remote: true, class: 'tiny button secondary' do %>
    <i class="fi-plus"></i> New
  <% end %>
</div>

<% if @categories.count > 0 %>
  <h2>All categories</h2>

  <%= render partial: 'account/category', collection: @categories %>
<% end %>
