<ul class="breadcrumbs">
  <li><%= link_to 'Dashboard', account_path %></li>
  <li class="current"><%= link_to 'All categories', account_categories_path %></li>
</ul>

<h2>All Categories</h2>

<%= link_to 'Create New Category', new_account_category_path, class: 'button small' %>

<%= render :partial => 'account/category', :collection => @categories %>
