    <h2>Archives</h2>
    <% posts.sort.reverse.each do |month, posts| %>
    <h4><%=h month.strftime("%B %Y") %></h4>
    <ul style="list-style-type: none;font-size:small;">
      <% posts.each do |post| %>
      <li><%=h link_to post.title, post_path(post) %></li>
      <% end  %>
    </ul>
    <% end %>
