<div class="row">
  <div class="large-9 columns">
    <%= render :partial => 'post', :collection => @posts %>
    <div class="pagination-centered">
      <%= paginate @posts %>
    </div>
  </div>
  <div class="large-3 columns">
    <%= render :partial => 'post_archives', :locals => { :posts => @monthly_posts } %>
  </div>
</div>

