<% @posts.each do |post| %>
<div class="panel">
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
  <p style="font-size:small;text-align:right;">by <%= post.user.name %><br>
  <%= post.created_at.strftime("%B %d, %Y") %></p>
</div>
<% end %>