<div class="row">
  <% if User.count == 0 %>
    <div class="medium-9 columns">
      <h2>Welcome to Rdaily !</h2>
      <p>Rdaily setup is simple and easy.</p>
      <%= link_to 'Create new user', new_account_user_path, class: 'button'%>
    </div>
  <% else %>
  <div class="medium-9 columns">
    <% if Post.published.count == 0 %>
      <p>There are no posts</p>
    <% else %>
      <%= render partial: 'post', collection: @posts %>
      <div class="pagination">
        <%= paginate @posts %>
      </div>
    <% end %>
  </div>
  <div id="archives" class="medium-3 columns">
    <%= render partial: 'post_archives', locals: { posts: @monthly_posts } %>
  </div>
  <% end %>
</div>

