<ul class="breadcrumbs">
  <li><%= link_to 'Dashboard', account_path %></li>
  <li class="current"><%= link_to 'Create a new page', new_account_post_path %></li>
</ul>

<div class="medium-8" columns">
<h2>Create a new page</h2>

<%= render partial: 'form', locals: { page: @page } %>
</div>
