<ul class="breadcrumbs">
  <li><%= link_to 'Dashboard', account_path %></li>
  <li><%= link_to "All pages", account_pages_path %></li>
  <li class="current"><%= link_to "Page ##{@page.id}", account_page_path(id: @page.id) %></li>
</ul>

<%= render :partial => 'pages/page', :locals => { :page => @page } %>
