h4 #{category.name}

= link_to 'Edit', edit_account_category_path(category), class: 'button tiny'
= link_to 'Delete', account_category_path(category), method: :delete, class: 'tiny button alert', confirm: 'Are you sure?'
