<div class="panel">
  <h4><%= category.name %></h4>      
  <%# link_to 'Edit', edit_account_category_path(category), class: 'button small' %>
  <%= link_to 'Delete', account_category_path(category), method: :delete, class: 'button small alert', confirm: 'Are you sure?' %>
</div>