<ul class="breadcrumbs">
  <li class="current"><%= link_to 'Dashboard', account_path %></li>
</ul>

<h2>Dashboard</h2>

<h3>New Post</h3>

<p><a href="#" id="toggle_new_post" class="button radius">Create a new post</a></p>

<div id="new_post" style="display:none;">
  <%= render :partial => 'account/posts/form', :locals => { :post => @post } %>
</div>

<h3>Recent Posts</h3>
<%= render :partial => 'post', :collection => @posts %>
<%= link_to 'More posts', account_posts_path, class: 'button small secondary' %>
