<div class="row">
  <div class="twelve columns">
    <div class="panel post">
      <h2>About</h2>
      <p>ソフトウェア、写真、旅行、音楽・映画などを中心とした個人の雑記です。Rdailyを使って作られています。</p>
      </p>
      <h3>About Rdaily</h3>
      <p>ブログやレビューなど日々の記録のためのWebアプリケーションです。<br>
        文章を書くのがなかなか長続きしないので、 ブログで文章を書くかわりに、ブログのコードを書くことからはじめたのがきっかけ。<br>
主にRails 3とZurb Foundationでできています。<a href="https://github.com/ryohashimoto/rdaily">GitHubにて公開中。</a></p>
      <h3>About Me</h3>
      <p>渋谷区在住のソフトウェアエンジニアです。音楽鑑賞、小旅行、ハイキングなどが趣味。</p>
  </div>
</div>